[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
beautifulsoup4 = "*"
selenium = "*"
pyppeteer = "*"
webdriver-manager = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
langchain-community = "*"
transformers = "*"
scikit-learn = "*"
pandas = "*"
streamlit = "*"

[dev-packages]
invoke = "*"
pytest = "*"
pytest-cov = "*"
mongomock = "*"
jupyter = "*"

[requires]
python_version = "3.11"
